image:
  registry: docker.io
  repository: chalko/k8s_gateway
  tag: "latest"

# Delegated domain
domain: fog.chalko.com
loadBalancerIP: 10.211.183.242
forward:
  enabled: true

# Name to use for apex records
apex: "dns"

# TTL for non-apex responses (in seconds)
ttl: 300


serviceAccount:
  create: true
  name: fog-dns-acct
