image:
  registry: docker.io
  repository: chalko/k8s_gateway
  tag: "latest"

# Delegated domain
domain: "fog.chalko.com"
loadBalancerIP: 192.168.82.200

# Name to use for apex records
apex: "dns"

# TTL for non-apex responses (in seconds)
ttl: 300


serviceAccount:
  create: true
  name: fog-dns-acct
