#protocolHttp: true
#service:
#  type: LoadBalancer
#  loadBalancerIP: 192.168.82.20
ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  enabled: true
  hosts:
    - kd.{{ .Values.fog.domain}}
  tls:
    - secretName: kd-tls
      hosts:
        - kd.{{ .Values.fog.domain}}
metricsScraper:
  enabled: true