service:
  spec:
    loadBalancerIP:  {{ .Values.fog.ingress.ip}}
    externalTrafficPolicy: Cluster

ingressClass:
  enabled: true
  isDefaultClass: true

providers:
  kubernetesIngress:
    publishedService:
      enabled: true

logs:
  general:
    level: INFO

ports:
  websecure:
    tls:
     enabled: true
     #certResolver: letsencrypt-stage

persistence:
  enabled: true
  path: /data